<footer>
    <section id="contact-info">
        <p>
            <strong>Guatemala Touristic Guide</strong><br>
            7a Avenida 12-45, Zona 10<br>
            Ciudad de Guatemala, Guatemala<br>
            (+502) 4567-8910
        </p>
    </section>
    <section id="social-media">
        <a href="https://www.youtube.com/"><img src="" alt="Youtube Icon" data-name="youtube"></a>
        <a href="https://x.com"><img src="" alt="Twitter Icon" data-name="twitter-x"></a>
        <a href="https://www.linkedin.com"><img src="" alt="Linkedin Icon" data-name="linkedin"></a>
    </section>
    <section id="creation-info">
        <p>
            WDD330 Class Project<br>
            Luis Maradiaga<br>
            &copy; <span id="currentYear"></span> Guatemala Touristic Guide<br>
        </p>
    </section>
</footer>
