<header>
  <a href="" id="header-banner">
    <img
      src=""
      alt="Guatemala Touristic Guide Logo"
      id="main-logo"
    />
    <span id="header-name">Guatemala Touristic Guide</span>
  </a>
  <button id="main-hamburger" aria-label="Drop Down Menu"></button>
  <nav class="drop-down" id="header-menu">
    <ul>
      <li>
        <a data-page="favorites" href="">Favorites<span class="wayfinding"></span></a>
      </li>
      <li>
        <a data-page="destination" href=""
          >Destinations<span class="wayfinding"></span></a
        >
      </li>
      <li><a data-page="cuisine" href="">Cuisine<span class="wayfinding"></span></a></li>
      <li><a data-page="events" href="">Events<span class="wayfinding"></span></a></li>
    </ul>
  </nav>
</header>
